<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="fm.radiomacondo.app" version="1.0">

	<name>Radiomacondo.fm</name>
	
	<description>Esta es una aplicación para radiomacondo</description>
	
	<author href="http://firt.mobi" email="algo@algo.com">Mad Rabbit Studios</author>
	
	
	<preference name="orientation" value="both" />
	
	<gap:platform>
		<gap:platform name="symbian.wrt" />
		<gap:platform name="android" minVersion="2.3" />
	</gap:platform>

</widget>