@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular-webfont.eot');
    src: url('type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/type/leaguegothic-regular-webfont.woff') format('woff'),
         url('type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titilliumtext25l400_wt';
    src: url('type/titilliumtext25l003-webfont.eot');
    src: url('type/titilliumtext25l003-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/titilliumtext25l003-webfont.woff') format('woff'),
         url('type/titilliumtext25l003-webfont.ttf') format('truetype'),
         url('type/titilliumtext25l003-webfont.svg#titilliumtext25l400_wt') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, .ui-content{
	font-family: 'titilliumtext25l400_wt', arial, helvetica, sans-serif;
	font-size: 14px;
}
.ui-mobile .ui-page-active{
	overflow: hidden;
}
.ui-body-c, .ui-overlay-c{
	background: url("images/logo.jpg") no-repeat center center #e5e5e5;
	background-attachment: fixed;
}
.ui-navbar .ui-btn-text{
	font-family: 'league_gothicregular', helvetica, sans-serif;
	font-size: 22px;
	color: #a50808;
	font-weight: normal;
	text-shadow: 0 0 0 rgba(0,0,0,0);
}
.ui-btn-inner, .ui-header{
	border: none;
}
.ui-navbar li a, .ui-footer{
	background: #0b0b0b;
	border: none;
}
.ui-navbar li .ui-btn-active{
	background: url("images/active.png") no-repeat bottom center #0b0b0b;
}
.img_menu, .img_player{
	background: url('images/sprite.png') no-repeat;
	margin: 0 auto;
	margin-bottom: 8px;
}
.img_player{
	margin-bottom: 4px;
}
.img_menu.radio{
	width: 52px;
	height: 37px;
	background-position: 0px -37px;
}
.img_menu.chat{
	width: 40px;
	height: 37px;
	background-position: 0px 0px;
}
.img_menu.noticias{
	width: 45px;
	height: 37px;
	background-position: 0px -74px;
}
.img_player.play{
	width: 20px;
	height: 28px;
	background-position: 0px -167px;
}
.img_player.stop{
	width: 27px;
	height: 28px;
	background-position: 0px -139px;
}
.img_player.pause{
	width: 22px;
	height: 28px;
	background-position: 0px -111px;
}
.ui-footer .jp-controls{
	margin: 0;
	padding: 0;
	text-align: center;
}
.ui-footer .jp-controls li{
	list-style-type: none;
	display: inline-block;
}
.ui-footer .jp-controls li a{
	font-family: 'league_gothicregular', helvetica, sans-serif;
	font-size: 22px;
	color: #a50808;
	font-weight: normal;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	text-transform: capitalize;
	text-decoration: none;
	display: block;
	padding: 9px 18px;
}
.ui-footer .jp-controls li a:hover{
	color: #a50808;
}
.artista{
	font-family: 'league_gothicregular', helvetica, sans-serif;
	font-size: 30px;
	color: #a50808;
	font-weight: normal;
	text-align: center;
	margin-top: 13px;
	margin-bottom: 0;
}
.cancion{
	font-family: 'league_gothicregular', helvetica, sans-serif;
	font-size: 20px;
	color: #a50808;
	font-weight: normal;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
}
.album{
	text-align: center;
	margin-bottom: 30px;
}
.album img{
	-webkit-box-shadow:  0px 1px 5px 1px rgba(0, 0, 0, .3);    
    box-shadow:  0px 1px 5px 1px rgba(0, 0, 0, .3);
}
.creditos{
	text-align: center;
}
.creditos a{
	text-decoration: none;
}
.ui-fixed-hidden{
	position: fixed;
}
#error{
	background: #a50808;
	color: #fff;
	padding: 5px;
	text-align: center;
	text-shadow: 0 0 0 rgba(255,255,255,0);
}